{% extends '_base.html' %}

{% block meta %}
<link href="{{ url_for('articles.static', filename='style.css') }}" rel='stylesheet' type='text/css'>
<link href="{{ url_for('users.static', filename='style.css') }}" rel='stylesheet' type='text/css'>
{% endblock meta %}

{% block content %}
<main class='hidden' id='article'>
  <article>
    <section>
      <p class='publish-btn'>
        <a href="{{ url_for('articles.publish') }}" class='btn'>+ Publish</a>
      </p>
      <h2>Articles</h2><br>
      <div class='table'>
        <h3>Title</h3>
        <h3>Status</h3>
        {% for article in articles %}
        <p>{{ article['title'] }}</p>
        <p class="{{ article['status'].lower() }}">{{ article['status'] }}</p>
        {% endfor %}
      </div>
    </section><br>
    <section>
      <h2>Inbox</h2><br>
      {% if um.user['inbox'] %}

      {% else %}
      <p>No messages.</p>
      {% endif %}
    </section>
  </article>

  <aside>
    <h2>Account</h2><br>
    <dl>
      <dt class='small'>Name</dt>
      <dd>{{ um.user['name'] }}</dd><br>
      <dt class='small'>Email address</dt>
      <dd>{{ um.user['email'] }}</dd><br>
      {% if um.user['affiliation'] %}
      <dt class='small'>Affiliation</dt>
      <dd>{{ um.user['affiliation'] }}</dd><br>
      {% endif %}
    </dl>
    <p>
      <a href="{{ url_for('users.edit_account') }}" class='btn'>Edit</a>
      <a href="{{ url_for('users.delete') }}" class='btn red'>Delete</a>
      <a href="{{ url_for('users.reset_password1') }}" class='red'>Change password</a>
    </p>
  </aside>
</main>
{% endblock content %}
