{% extends '_base.html' %}
{% from '_form_field.html' import render_field %}

{% block meta %}
<link rel='stylesheet' href="{{ url_for('forms.static', filename='style.css') }}" type='text/css'>
<script defer src="{{ url_for('forms.static', filename='main.js') }}" type='text/javascript'></script>
<script defer src="{{ url_for('forms.static', filename='router.js') }}" type='text/javascript'></script>
{% endblock meta %}

{% block content %}
<main class='hidden'>
  <form action="{{ url_for('users.reset_password', token=token) }}" method='POST' autocomplete='off' id='reset-password-form'>
    <h2>Reset Password</h2>
    {{ form.csrf_token }}
    {{ render_field(form.password) }}
    <div class='fields-flex'>
      <span><a href="{{ url_for('users.login') }}" class='red'>Back</a></span>
      <button type='submit' class='btn'>Submit</button>
    </div>
    <img src="{{ url_for('static', filename='gifs/spinner.gif') }}" width='24px' height='24px' class='spinner'>
  </form>
</main>
{% endblock content %}
