/* HOME */
#home {
  position: relative;
  top: 12vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

#logo {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}

#home p {
  width: 200px;
  margin-top: 20px;
  text-align: center;
}

@media (min-width: 768px) {
  #home {
    top: 22vh;
  }

  #logo {
    width: 200px;
  }

  #home p {
    width: auto;
  }
}

@media (min-width: 1366px) {
  #home {
    top: 15vh;
  }

  #logo {
    width: 250px;
  }
}

/* FIELDS AND SUBFIELDS */
#categories {
  padding: 20px 0;
}

#categories h2 {
  text-align: center;
  padding-bottom: 10px;
}

#fields-grid {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  width: 85vw;
  margin: 20px auto;
  text-align: center;
}

#fields-grid a {
  display: block;
  padding: 10px;
  border: var(--grey) solid 1px;
}

#fields-grid a:hover {
  cursor: pointer;
  padding: 9px;
  border: var(--blue) solid 2px;
}

@media (min-width: 768px) {
  #fields-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1366px) {
  #fields-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* SEARCH RESULTS */
#search-results {
  padding: 20px 0;
}

#search-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  width: 85vw;
  margin: 20px auto;
}

.article {
  padding: 10px 0;
}

.preprint {
  margin-right: 5px;
  text-transform: uppercase;
  color: var(--orange);
}

#no-results {
  width: 60vw;
  margin: 0 auto;
  text-align: center;
}

#pagin {
  list-style-type: none;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  grid-gap: 30px;
  width: 240px;
  margin: 20px auto;
  text-align: center;
}

#pagin a {
  border: var(--grey) solid 1px;
}

#pagin a:hover {
  border: var(--blue) solid 1px;
  outline: 1px solid var(--blue);
}

@media (min-width: 1366px) {
  #search-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    padding: 20px 0;
  }
}

/* ARTICLE */
#article {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
  width: 85vw;
  margin: 20px auto;
}

#article h2 {
  line-height: 1.6;
}

#article h3 {
  text-transform: uppercase;
}

@media (min-width: 1366px) {
  #article {
    grid-template-columns: 2fr 1fr;
    padding: 40px 0;
  }

  aside {
    padding: 0 40px;
  }
}
