/* SEARCH */
#search-form {
  width: 80vw;
  max-width: 350px;
  margin: 20px auto;
}

#search {
  width: 100%;
}

#search-icon {
  width: 16px;
  height: 16px;
}

@media screen and (min-width: 768px) {
  #search-form {
    max-width: 500px;
  }
}

@media screen and (min-width: 1366px) {
  #search-form {
    max-width: 600px;
  }
}
