/* GENERAL */
form {
  display: flex;
  justify-content: center;
  align-items: center;
}

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  width: 90%;
  margin-top: 40px;
}

legend {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
}

input,
textarea,
.btn {
  padding: 9px 18px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  border: #ccc solid 1px;
  background-color: #fff;
}

input[type='text'],
textarea {
  width: 100%;
}

textarea {
  height: 6rem;
  resize: none;
  line-height: 1.5;
}

input:focus,
textarea:focus {
  outline: none;
  border: #187890 solid 1px;
}

.btn:hover,
.btn:focus {
  cursor: pointer;
  padding: 8px 17px;
  border: #187890 solid 2px;
}

button[type='submit']:hover,
button[type='submit']:focus {
  outline: none;
  padding: 9px 18px;
  border: #187890 solid 1px;
}

.form-element {
  width: 90%;
}

.form-error {
  border: #f00 solid 1px;
}

.field-error {
  font-size: 16px;
  color: #f00;
  text-align: center;
}

@media screen and (min-width: 768px) {
  fieldset {
    width: 60%;
  }

  legend {
    font-size: 24px;
  }
}

@media screen and (min-width: 1366px) {
  fieldset {
    width: 70%;
    margin-top: 0;
  }
}

/* SEARCH */
#search-form {
  margin: 10px 0 20px 0;
}

#search-icon {
  width: 16px;
  height: 16px;
}

@media screen and (min-width: 768px) {
  #search-form {
    margin: 0;
  }

  #search {
    width: 60vw;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1366px) {
  #search {
    width: 40vw;
  }
}

/* PUBLISH, CONTACT */
.field-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#file-name {
  font-weight: lighter;
  border-left: none;
}

#file {
  display: none;
}

#checkbox {
  border: #fff solid 1px;
}

#spinner {
  visibility: hidden;
}
