/* GENERAL */
form {
  display: flex;
  justify-content: center;
  align-items: center;
}

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  padding-bottom: 50px;
}

legend {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

input, textarea, .btn {
  padding: 0.5rem 1rem;
  font-family: inherit;
  font-size: inherit;
  font-weight: lighter;
  border: #ccc solid 1px;
  background-color: #fff;
}

input:focus, textarea:focus {
  outline: none;
}

input[type='text'], textarea {
  width: 100%;
}

.btn:hover {
  cursor: pointer;
  color: #187890;
  border: #187890 solid 1px;
}

.form-element {
  width: 90%;
}

.form-error {
  border: #f00 solid 1px;
}

/* SEARCH */
#search {
  width: 40vw;
}

/* PUBLISH */
#grid-1 fieldset {
  width: 70%;
}

#file-bar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#file-name {
  font-weight: lighter;
  background-color: #fff;
}

#file {
  display: none;
}

/* CONTACT */
textarea {
  height: 6.5rem;
  resize: none;
  line-height: 1.5;
}
