:root {
  --red: #d11a2a;
  --orange: #e66439;
  --green: #00ab66;
  --blue: #187890;
  --grey: #ccc;
  --dark: #4a4e4d;
}

body {
  font-family: Quicksand, 'Open Sans', ui-sans-serif, sans-serif;
  color: var(--dark);
}

/* HEADER */
header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 20vh;
}

#acadome {
  display: flex;
  align-items: center;
}

h1 {
  font-size: 3rem;
  font-weight: lighter;
}

img.logo {
  height: 36px;
  margin-right: 20px;
}

nav ul {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

nav li:first-child {
  display: none;
}

nav a {
  padding: 10px 20px;
  border-bottom: var(--grey) solid 1px;
}

nav a:hover {
  border-bottom: var(--dark) solid 2px;
}

@media (min-width: 768px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
    padding: 0 20px;
  }

  img.logo {
    height: 50px;
  }

  nav li:first-child {
    display: block;
  }
}

@media (min-width: 1366px) {
  header {
    height: 12vh;
  }
}

/* MAIN */
main {
  line-height: 2;
}

h2 {
  font-size: 2rem;
  font-weight: normal;
}

h3 {
  font-size: 1.6rem;
  font-weight: normal;
}

.small {
  font-size: 1.4rem;
}

.btn {
  padding: 10px 20px;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: #fff;
  border: var(--grey) solid 1px;
}

.btn:hover,
.btn:focus {
  outline: none;
  cursor: pointer;
  padding: 9px 19px;
  border: var(--blue) solid 2px;
}

.link {
  border-bottom: var(--dark) solid 1px;
}

.orange {
  color: var(--orange);
}

.red {
  color: var(--red);
}

.green {
  color: var(--green);
}

.blue:hover,
.blue:focus {
  color: var(--blue);
}

.hidden {
  display: none;
}

.message {
  width: 85vw;
  max-width: 480px;
  margin: 20px auto;
  line-height: 2;
}

#flash {
  position: absolute;
  top: 70px;
  right: 0;
  margin: 20px;
  padding: 20px;
  line-height: 1.6;
  background-color: #fff;
  border: var(--grey) solid 1px;
  box-shadow: 5px 5px 2px var(--grey);
}

#hide-flash {
  float: right;
  margin-left: 20px;
  font-size: 3rem;
  line-height: 0.7;
  color: var(--red);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 2.4rem;
  }
}

@media screen and (min-width: 1366px) {
  #flash {
    top: 70px;
    width: 30vw;
  }
}
