:root {
  --red: #d11a2a;
  --blue: #187890;
  --grey: #ccc;
}

html {
  font-size: 16px;
}

body {
  font-family: Quicksand, 'Open Sans', Montserrat, Calibri, Times;
  color: #4a4e4d;
}

/* HEADER */
header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 20vh;
}

#acadome {
  display: flex;
  align-items: center;
}

h1 {
  font-size: 30px;
  font-weight: lighter;
}

.logo {
  height: 50px;
  margin-right: 1rem;
}

nav ul {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

nav li:first-child {
  display: none;
}

nav a {
  padding: 0.5rem 1rem;
  border-bottom: var(--grey) solid 1px;
}

nav a:hover {
  border-bottom: #000 solid 2px;
}

@media (min-width: 768px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
    padding: 0 20px;
  }

  nav li:first-child {
    display: block;
  }
}

@media (min-width: 1366px) {
  header {
    height: 12vh;
  }
}

/* MAIN */
main {
  line-height: 2;
}

h2 {
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 10px;
}

h2.header {
  text-align: center;
  margin: 20px;
}

@media (min-width: 768px) {
  h2 {
    font-size: 24px;
    text-align: left;
  }
}

h3 {
  font-size: 16px;
  font-weight: normal;
}

.small {
  font-size: 14px;
}

.btn {
  padding: 10px 20px;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: #fff;
  border: var(--grey) solid 1px;
}

.btn:hover,
.btn:focus {
  outline: none;
  cursor: pointer;
  padding: 9px 19px;
  border: var(--blue) solid 2px;
}

a.anchor-1 {
  border-bottom: #4a4e4d solid 1px;
}

a.anchor-2 {
  border-bottom: #fff solid 1px;
}

a.anchor-3:hover {
  border-bottom: #4a4e4d solid 1px;
}

.hidden {
  display: none;
}

#flash {
  position: absolute;
  top: 20px;
  right: 20px;
  max-width: 400px;
  margin-left: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: var(--grey) solid 1px;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--grey);
  background-color: #fff;
}

#hide-flash {
  margin-left: 20px;
  font-size: 20px;
  color: var(--red);
  cursor: pointer;
}
