html {
  font-size: 16px;
}

body {
  font-family: Quicksand, Garamond, Georgia, Times;
  font-weight: lighter;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

/* HEADER */
header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 25vh;
  padding: 0 2vw;
}

#acadome {
  display: flex;
  align-items: center;
}

#logo {
  height: 8vh;
}

h1 {
  padding: 0.5rem 1rem;
  font-size: 28px;
  font-weight: lighter;
}

nav ul {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

nav li:first-child {
  display: none;
}

nav a {
  padding: 0.5rem 1rem;
  border-bottom: #ccc solid 1px;
}

nav a:hover {
  border-bottom: #000 solid 2px;
}

@media screen and (min-width: 768px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    height: 12vh;
  }

  h1 {
    font-size: 30px;
  }

  nav li:first-child {
    display: block;
  }
}

/* MAIN */
main {
  line-height: 2;
}

h2 {
  font-size: 20px;
  font-weight: normal;
}

h3 {
  font-size: 16px;
  font-weight: normal;
}

#sub-header {
  padding: 20px;
  text-align: center;
}

a.anchor-1 {
  border-bottom: #000 solid 1px;
}

a.anchor-2 {
  border-bottom: #fff solid 1px;
}

a.anchor-3:hover {
  border-bottom: #000 solid 1px;
}

@media screen and (min-width: 768px) {
  #sub-header {
    padding: 0;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }
}
