{% extends '_base.html' %}

{% block content %}
<main class='grid31 hidden'>
  <article>
    <div class='subsection'>
      {% if article['preprint'] %}
      <h2>[Preprint] {{ article['title'] }}</h2>
      {% else %}
      <h2>{{ article['title'] }}</h2>
      {% endif %}
      <p>
        {% for author in article['authors'] %}
        {% if author == author_ %}
        {% if author == article['authors'][-1] %}
        <span>{{ author }}</span>
        {% else %}
        <span>{{ author }}, </span>
        {% endif %}
        {% else %}
        {% if author == article['authors'][-1] %}
        <span><a href="{{ url_for('articles.author_search', author=author.replace(' ', '_')) }}" class='blue'>{{ author }}</a></span>
        {% else %}
        <span><a href="{{ url_for('articles.author_search', author=author.replace(' ', '_')) }}" class='blue'>{{ author }}</a>, </span>
        {% endif %}
        {% endif %}
        {% endfor %}
      </p>
    </div>
    <div class='subsection'>
      {% if article['preprint'] %}
      <a href="{{ url_for('articles.static', filename='pdfs/queue/' + article['id'] + '/preprint.pdf') }}" target='_blank' class='btn'>PDF</a>
      {% else %}
      <a href="{{ url_for('articles.static', filename='pdfs/' + article['id'] + '.pdf') }}" target='_blank' class='btn'>PDF</a>
      {% endif %}
    </div>
    <div class='subsection'>
      <h3>Abstract</h3>
      <p>{{ article['abstract'] }}</p>
    </div>
    <div class='subsection'>
      <h3>Keywords</h3>
      <p>{{ ' | '.join(article['keywords']) }}</p>
    </div>
  </article>
  <aside>
    <div class='subsection'>
      <p>
        Submitted on: {{ article['submitted'].strftime('%d %B %Y') }}<br>
        Accepted on: {{ article['accepted'].strftime('%d %B %Y') }}<br>
        {% if not article['preprint'] %}
        Published on: {{ article['published'].strftime('%d %B %Y') }}
        {% endif %}
      </p>
    </div>
    {% if not article['preprint'] %}
    <div class='subsection'>
      <h3>DOI</h3>
      <p><a href='#' class='blue'>{{ article['doi'] }}</a></p>
    </div>
    {% endif %}
    <div class='subsection'>
      <h3>License</h3>
      <a rel='license' href='http://creativecommons.org/licenses/by/4.0/' target='_blank'>
        <img alt='Creative Commons License' src='https://i.creativecommons.org/l/by/4.0/88x31.png'>
      </a><br>
      <p>
        Published under a <a rel='license' href='http://creativecommons.org/licenses/by/4.0/'>Creative Commons Attribution 4.0 International License</a>.
      </p>
    </div>
  </aside>
</main>
{% endblock content %}
