{% extends '_base.html' %}

{% block meta %}
<link rel='preload' href="{{ url_for('static', filename='images/logo_200x116.png') }}" as='image'>
<link rel='stylesheet' href="{{ url_for('articles.static', filename='style.css') }}" type='text/css'>
{% endblock meta %}

{% block content %}
<article>
  <section>
    <div>
      <h2>{{ article['title'] }}</h2>
      <p>
        <span>{{ article['year'] }} | </span>
        {% for author in article['authors'] %}
        {% if author == author_ %}
        {% if author == article['authors'][-1] %}
        <span>{{ author }}</span>
        {% else %}
        <span>{{ author }}, </span>
        {% endif %}
        {% else %}
        {% if author == article['authors'][-1] %}
        <span><a href="{{ url_for('articles.author_search', author=author.replace(' ', '_')) }}" class='anchor-3'>{{ author }}</a></span>
        {% else %}
        <span><a href="{{ url_for('articles.author_search', author=author.replace(' ', '_')) }}" class='anchor-3'>{{ author }}</a>, </span>
        {% endif %}
        {% endif %}
        {% endfor %}
      </p>
    </div><br>
    <div>
      <a href="{{ url_for('articles.static', filename='pdfs/' + article['title'] + '.pdf') }}" target='_blank' class='btn'>PDF</a>
    </div><br>
    <div>
      <h3>Abstract</h3>
      <p>{{ article['abstract'] }}</p>
    </div>
  </section>
  <aside>
    <div>
      <h3>Keywords</h3>
      <p>
        {% for kw in article['keywords'] %}
        {% if kw == article['keywords'][-1] %}
        <span><a href="{{ url_for('articles.home', search=kw.lower()) }}" class='anchor-3'>{{ kw }}</a></span>
        {% else %}
        <span><a href="{{ url_for('articles.home', search=kw.lower()) }}" class='anchor-3'>{{ kw }}</a> | </span>
        {% endif %}
        {% endfor %}
      </p>
    </div><br>
    <div>
      <h3>Subfields</h3>
      <p>
        {% for subfield in article['subfields'] %}
        <a href="{{ url_for('articles.subfield_search', subfield=subfield.replace(' ', '_')) }}" class='anchor-3'>{{ subfield }}</a><br>
        {% endfor %}
      </p>
    </div><br>
    {% if article['count'] %}
    <div>
      <p>Cited by: {{ article['count'] }}</p>
    </div><br>
    {% endif %}
    <div>
      <p>DOI: <a href='#' class='anchor-3'>{{ article['doi'] }}</a></p>
    </div>
  </aside>
</article>
{% endblock content %}
