{% extends '_base.html' %}

{% block meta %}
<link rel='stylesheet' href="{{ url_for('articles.static', filename='style.css') }}" type='text/css'>
{% endblock meta %}

{% block content %}
<main class='hidden' id='article'>
  <article>
    <div>
      {% if article['preprint'] %}
      <h2>[Preprint] {{ article['title'] }}</h2>
      {% else %}
      <h2>{{ article['title'] }}</h2>
      {% endif %}
      <p>
        {% for author in article['authors'] %}
        {% if author == author_ %}
        {% if author == article['authors'][-1] %}
        <span>{{ author }}</span>
        {% else %}
        <span>{{ author }}, </span>
        {% endif %}
        {% else %}
        {% if author == article['authors'][-1] %}
        <span><a href="{{ url_for('articles.author_search', author=author.replace(' ', '_')) }}" class='blue'>{{ author }}</a></span>
        {% else %}
        <span><a href="{{ url_for('articles.author_search', author=author.replace(' ', '_')) }}" class='blue'>{{ author }}</a>, </span>
        {% endif %}
        {% endif %}
        {% endfor %}
      </p>
    </div><br>
    <div>
      <a href="{{ url_for('articles.static', filename='pdfs/' + article['title'] + '.pdf') }}" target='_blank' class='btn'>PDF</a>
    </div><br>
    <div>
      <h3>Abstract</h3>
      <p>{{ article['abstract'] }}</p>
    </div><br>
    <h3>Keywords</h3>
    <p>
      {% for kw in article['keywords'] %}
      {% if kw == article['keywords'][-1] %}
      <span><a href="{{ url_for('articles.home', search=kw.lower()) }}" class='blue'>{{ kw }}</a></span>
      {% else %}
      <span><a href="{{ url_for('articles.home', search=kw.lower()) }}" class='blue'>{{ kw }}</a> | </span>
      {% endif %}
      {% endfor %}
    </p>
  </article>
  <aside>
    <p>
      Submitted on: {{ article['submitted'].strftime('%d %B %Y') }}<br>
      Accepted on: {{ article['accepted'].strftime('%d %B %Y') }}<br>
      {% if not article['preprint'] %}
      Published on: {{ article['published'].strftime('%d %B %Y') }}<br>
    <br>
      DOI: <a href='#' class='blue'>{{ article['doi'] }}</a>
      {% endif %}
    </p><br>
  </aside>
</main>
{% endblock content %}
