{% extends '_base.html' %}

{% block meta %}
<link rel='preload' href="{{ url_for('static', filename='images/logo_400x231.png') }}" as='image'>
<link rel='stylesheet' href="{{ url_for('static', filename='css/forms.css') }}" type='text/css'>
<link rel='stylesheet' href="{{ url_for('articles.static', filename='style.css') }}" type='text/css'>
<script defer src="{{ url_for('articles.static', filename='main.js') }}" type='text/javascript'></script>
{% endblock meta %}

{% block content %}
<main class='home hidden'>
  <figure>
    <img src="{{ url_for('static', filename='images/logo_400x231.png') }}" alt='AcaDome logo' id='logo'>
  </figure>

  <form action="{{ url_for('articles.home') }}" method='GET' autocomplete='off' id='search-form'>
    <div class='fields-flex'>
      <input type='search' name='search' placeholder='Search database'>
      <button type='submit' class='btn'>
        <img src="{{ url_for('static', filename='images/search.png') }}" width='16px' height='16px'>
      </button>
    </div>
  </form>

  <p>Or browse through the <a href="{{ url_for('articles.fields') }}" class='orange'>fields of research</a>.</p>
</main>
{% endblock content %}
