{% extends '_base.html' %}

{% block meta %}
    <link rel='stylesheet' href="{{ url_for('articles.static', filename='css/style.css') }}" type='text/css'>
    <link rel='stylesheet' href="{{ url_for('articles.static', filename='css/form.css') }}" type='text/css'>
    <script defer src="{{ url_for('articles.static', filename='js/main.js') }}" type='text/javascript'></script>
{% endblock meta %}

{% block logo %}
        <img src="{{ url_for('static', filename='images/logo_200x116.png') }}" alt='AcaDome logo' id='logo'>
{% endblock logo %}

{% block content %}
      <section id='search-bar'>
        <form action="{{ url_for('articles.home') }}" method='GET' autocomplete='off' name='search-form' id='search-form'>
          <input type='search' name='search' id='search' value='{{ query }}'>
          <button type='submit' class='btn'>
            <img src="{{ url_for('static', filename='images/search.png') }}" id='search-icon'>
          </button>
        </form>
      </section>

      <section id='grid-3'>
        {% for article in articles.items %}
        <div class='article'>
          <div class='meta'>
            <span>{{ article.year }} | </span>
            {% for author in article.authors %}
            {% if author == author_ %}
            {% if author == article.authors[-1] %}
            <span>{{ author }}</span>
            {% else %}
            <span>{{ author }}, </span>
            {% endif %}
            {% else %}
            {% if author == article.authors[-1] %}
            <span><a href="{{ url_for('articles.author_search', author=author.lower().replace(' ', '_')) }}" class='anchor-3'>{{ author }}</a></span>
            {% else %}
            <span><a href="{{ url_for('articles.author_search', author=author.lower().replace(' ', '_')) }}" class='anchor-3'>{{ author }}</a>, </span>
            {% endif %}
            {% endif %}
            {% endfor %}
          </div>
          <h3><a href="{{ url_for('articles.article', ref=article.ref) }}" class='anchor-3'>{{ article.title }}</a></h3>
        </div>
        {% endfor %}
      </section>

      {% if not articles.total %}
      <section id='no-results'>
        <span>There are no results for your search query.</span>
      </section>
      {% endif %}

      {% if articles.total > articles.per_page %}
      <section>
        <ul id='pagin'>
          {% if articles.has_prev %}
          {% if subfield %}
          <li><a href="{{ url_for('articles.subfield_search', subfield=subfield.lower().replace(' ', '_'), page=articles.page-1) }}" class='btn'>{{ articles.page-1 }}</a></li>
          {% elif author %}
          <li><a href="{{ url_for('articles.author_search', author=author.lower().replace(' ', '_'), page=articles.page-1) }}" class='btn'>{{ articles.page-1 }}</a></li>
          {% else %}
          <li><a href="{{ url_for('articles.home', search=query, page=articles.page-1) }}" class='btn'>{{ articles.page-1 }}</a></li>
          {% endif %}
          {% else %}
          <li></li>
          {% endif %}
          <li>{{ articles.page }}</li>
          {% if articles.has_next %}
          {% if subfield %}
          <li><a href="{{ url_for('articles.subfield_search', subfield=subfield.lower().replace(' ', '_'), page=articles.page+1) }}" class='btn'>{{ articles.page+1 }}</a></li>
          {% elif author %}
          <li><a href="{{ url_for('articles.author_search', author=author.lower().replace(' ', '_'), page=articles.page+1) }}" class='btn'>{{ articles.page+1 }}</a></li>
          {% else %}
          <li><a href="{{ url_for('articles.home', search=query, page=articles.page+1) }}" class='btn'>{{ articles.page+1 }}</a></li>
          {% endif %}
          {% else %}
          <li></li>
          {% endif %}
        </ul>
      </section>
      {% endif %}
{% endblock content %}
