.publish-btn {
  float: right;
}

.table {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.table h3,
.table p {
  padding: 5px 0;
  padding-right: 40px;
}

.table h3 {
  border-bottom: var(--grey) solid 1px;
}

.accepted {
  color: var(--green);
}

.rejected {
  color: var(--red);
}
