{% extends '_base.html' %}

{% block content %}
<main class='grid31 hidden'>
  <article>
    <a href="{{ url_for('editors.home') }}" class='small orange'>&lt; Back</a>
    <h2>{{ article['title'] }}</h2>
    <p>{{ ', '.join(article['authors']) }}</p><br>
    <div>
      <a href="{{ url_for('articles.static', filename='pdfs/queue/' + article['id'] + '/preprint.pdf') }}" target='_blank' class='btn'>PDF</a>
    </div><br>
    <h3>Abstract</h3>
    <p>{{ article['abstract'] }}</p><br>
    <h3>Keywords</h3>
    <p>{{ ', '.join(article['keywords']) }}</p>
  </article>
  <aside>
    <p>
      Submitted on: {{ article['submitted'].strftime('%d %B %Y') }}<br>
      {% if article['preprint'] %}
      Accepted on: {{ article['accepted'].strftime('%d %B %Y') }}<br>
      {% endif %}
    </p><br>
    {% if um.user['name'] in article['votes']['accept'] %}
    <p>Voted for: <span class='green'>Accepted</span></p>
    {% elif um.user['name'] in article['votes']['reject'] %}
    <p>Voted for: <span class='red'>Rejected</span></p>
    {% else %}
    <p>
      Vote to:
      <a href="{{ url_for('editors.accept_article', id=article['id']) }}" class='btn green'>Accept</a>
      <a href="{{ url_for('editors.reject_article', id=article['id']) }}" class='btn red'>Reject</a>
    </p><br>
    {% endif %}
    {% if article['reviewers'] %}
    <h3>Reviewers</h3>
    {% endif %}
    <p>{{ ', '.join(article['reviewers']) }}</p>
    {% if article['editor'] %}
    <h3>Editor</h3>
    <p>{{ article['editor'] }}</p>
    {% endif %}
  </aside>
</main>
{% endblock content %}
