{% macro render_articles(set, author_='') %}
        {% for article in set %}
          <article>
            <div class='meta'>
              <div>
                {% for author in article.authors %}
                  {% if author == author_ %}
                    {% if author == article.authors[-1] %}
                      <span>{{ author }}</span>
                    {% else %}
                      <span>{{ author }}, </span>
                    {% endif %}
                  {% else %}
                    {% if author == article.authors[-1] %}
                      <span><a href="{{ url_for('author_search', author=author.lower().replace(' ', '_')) }}" class='anchor-3'>{{ author }}</a></span>
                    {% else %}
                      <span><a href="{{ url_for('author_search', author=author.lower().replace(' ', '_')) }}" class='anchor-3'>{{ author }}</a>, </span>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              </div>
              <span>{{ article.year }}</span>
            </div>
            <h3><a href="{{ url_for('static', filename='pdfs/articles/' + article.title + '.pdf') }}" class='anchor-3' target='_blank'>{{ article.title }}</a></h3>
            <div class='expand'>
              <p>Abstract: {{ article.abstract }}</p>
              <span>Keywords: </span>
              {% for kw in article.keywords %}
                {% if kw == article.keywords[-1] %}
                  <span><a href="{{ url_for('home', search=kw.lower()) }}">{{ kw }}</a></span>
                {% else %}
                  <span><a href="{{ url_for('home', search=kw.lower()) }}">{{ kw }}</a>, </span>
                {% endif %}
              {% endfor %}<br>
              <span>Field: <a href="{{ url_for('subfields', field=article.field.lower().replace(' ', '_')) }}">{{ article.field }}</a></span><br>
              <span>Subfields: </span>
              {% for sub in article.subfields %}
                {% if sub == article.subfields[-1] %}
                  <span><a href="{{ url_for('subfield_search', subfield=sub.lower().replace(' ', '_'))}}">{{ sub }}</a></span>
                {% else %}
                  <span><a href="{{ url_for('subfield_search', subfield=sub.lower().replace(' ', '_')) }}">{{ sub }}</a>, </span>
                {% endif %}
              {% endfor %}<br>
              <span>DOI: <a href=''></a></span><br>
              {% if article.count %}
                <span>Cited by: {{ article.count }}</span>
              {% endif %}
            </div>
          </article>
        {% endfor %}
{% endmacro %}
