<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    {% if title %}
      <title>{{ title }} | AcaDome</title>
    {% else %}
      <title>AcaDome</title>
    {% endif %}
    <meta name='description' content='A digital publisher of open access research articles.'>
    <meta name='keywords' content='publish, open access, research articles'>
    <link rel='icon' href="{{ url_for('static', filename='images/logo_32x32.png')}}" type='images/png'>

    <link rel='preconnect' href='https://fonts.googleapis.com'>
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
    <link rel='preload' href='https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap' as='style'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap'>
    <link rel='preload' href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap' as='style'>
    <link href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap' rel='stylesheet'>
    <link rel='preload' href='https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap' as='style'>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">

    <link rel='stylesheet' href="{{ url_for('static', filename='css/reset.css') }}" type='text/css'>
    <link rel='stylesheet' href="{{ url_for('static', filename='css/style.css') }}" type='text/css'>
    <link rel='stylesheet' href="{{ url_for('static', filename='css/form.css') }}" type='text/css'>
    <script defer src="{{ url_for('static', filename='js/main.js') }}" type='text/javascript'></script>

    {% block meta %}
    {% endblock meta %}

    <meta name='twitter:card' content='summary'>
    <meta name='og:image' content="{{ url_for('static', filename='images/logo_800x800.png') }}">
    <meta name='og:title' content='AcaDome'>
    <meta name='og:description' content='A digital publisher of open access research articles.'>
    <meta name='og:url' content="{{ url_for('articles.home') }}">
  </head>
  <body>
    <header>
      <a href="{{ url_for('articles.home') }}" id='acadome'>
        {% block logo %}
        {% endblock logo %}
        <h1>AcaDome</h1>
      </a>

      <nav>
        <ul>
          <li><a href="{{ url_for('articles.home') }}">Search</a></li>
          <li><a href="{{ url_for('gen.about') }}">About</a></li>
          <li><a href="{{ url_for('gen.publish') }}">Publish</a></li>
          <li><a href="{{ url_for('gen.contact') }}">Contact</a></li>
        </ul>
      </nav>
    </header>

    {% with message = get_flashed_messages() %}
    {% if message %}
    <p id='flash'>
      <span>{{ message[0] }}</span>
      <span id='hide-flash'>&Cross;</span>
    </p>
    {% endif %}
    {% endwith %}

    <main>
      {% block content %}
      {% endblock content %}
    </main>
  </body>
</html>
