{% macro render_pagin(object, endpoint, query, id='') %}
  {% if object.total > object.per_page %}
    <ul id='{{ id }}'>
    	{% if object.has_prev %}
    		<li><a href="{{ url_for(endpoint, search=query, page=object.page-1) }}">Prev</a></li>
      {% else %}
        <li></li>
    	{% endif %}
  		<!-- <li><span><b>{{ object.page }}</b></span></li> -->
    	{% if object.has_next %}
    		<li><a href="{{ url_for(endpoint, search=query, page=object.page+1) }}">Next</a></li>
      {% else %}
        <li></li>
    	{% endif %}
    </ul>
  {% endif %}
{% endmacro %}
