{% extends '_base.html' %}

{% block logo %}
        <img src="{{ url_for('static', filename='images/logo_200x116.png') }}" alt='AcaDome logo' id='logo'>
{% endblock logo %}

{% block content %}
      <div id='flex-main'>
        <section class='color-box'>
          <div class='section'>
            <h2>About AcaDome</h2>
            <p>We are an open access platform that publishes research articles.</p>
          </div>
        </section>

        <section>
          <div class='section'>
            <h2>Our principles</h2>
            <ul class='list'>
              <li>No paywalls. No registration. Absolute <a href='https://www.openaccess.nl/en/what-is-open-access' class='anchor-1' target='_blank'>open access</a>.</li>
              <li>Streamline the <a href="{{ url_for('publish') }}" class='anchor-1'>editorial workflow</a>.</li>
              <li>Maintain a transparent <a href="{{ url_for('finances') }}" class='anchor-1'>financial model</a>; the article processing charge (APC) is &#128; 200.</li>
              <li>Collaborate with academia through <a href="{{ url_for('arc') }}" class='anchor-1'>ARC</a>.</li>
            </ul>
          </div>
        </section>
      </div>
{% endblock content %}
