{% extends '_base.html' %}

{% block logo %}
        <img src="{{ url_for('static', filename='images/logo_200x116.png') }}" alt='AcaDome logo' id='logo'>
{% endblock logo %}

{% block content %}
      <article id='article'>
        <section class='centre'>
          <div class='btns'>
            <button type='button' onclick='window.history.back();' class='btn'>Return to results</button>
            <a href="{{ url_for('static', filename='pdfs/articles/' + article.title + '.pdf') }}" target='_blank' class='btn'>View PDF</a>
          </div><br>
          <div id='header'>
            <h2>{{ article.title }}</h2>
            {% for author in article.authors %}
            {% if author == author_ %}
            {% if author == article.authors[-1] %}
            <span>{{ author }}</span>
            {% else %}
            <span>{{ author }}, </span>
            {% endif %}
            {% else %}
            {% if author == article.authors[-1] %}
            <span><a href="{{ url_for('author_search', author=author.lower().replace(' ', '_')) }}" class='anchor-3'>{{ author }}</a></span>
            {% else %}
            <span><a href="{{ url_for('author_search', author=author.lower().replace(' ', '_')) }}" class='anchor-3'>{{ author }}</a>, </span>
            {% endif %}
            {% endif %}
            {% endfor %}<br>
            <span>{{ article.year }}</span><br>
          </div>
          <h3 class='header'>Abstract</h3>
          <p>{{ article.abstract }}</p>
          <h3 class='header'>Keywords</h3>
          {% for kw in article.keywords %}
          {% if kw == article.keywords[-1] %}
          <span><a href="{{ url_for('home', search=kw.lower()) }}" class='anchor-3'>{{ kw }}</a></span>
          {% else %}
          <span><a href="{{ url_for('home', search=kw.lower()) }}" class='anchor-3'>{{ kw }}</a>, </span>
          {% endif %}
          {% endfor %}
          <h3 class='header'>Subfields</h3>
          {% for subfield in article.subfields %}
          {% if subfield == article.subfields[-1] %}
          <span><a href="{{ url_for('subfield_search', subfield=subfield.lower().replace(' ', '_')) }}" class='anchor-3'>{{ subfield }}</a></span>
          {% else %}
          <span><a href="{{ url_for('subfield_search', subfield=subfield.lower().replace(' ', '_')) }}" class='anchor-3'>{{ subfield }}</a>, </span>
          {% endif %}
          {% endfor %}<br><br>
          {% if article.count %}
          <span>Cited by: {{ article.count }}</span><br><br>
          {% endif %}
          <span>DOI: <a href='#' class='anchor-3'>{{ article.doi }}</a></span>
        </section>
      </article>
{% endblock content %}
