{% extends '_base.html' %}

{% block logo %}
        <img src="{{ url_for('static', filename='images/logo_200x116.png') }}" alt='AcaDome logo' id='logo'>
{% endblock logo %}

{% block content %}
      <div id='slide'>
        <section id='sub-header' class='nice'>
          {% if field %}
          <h2>{{ field.name }}</h2>
          {% else %}
          <h2>Fields of research</h2>
          {% endif %}
        </section>

        <section id='grid-3'>
          {% if field %}
          {% for subfield in field.subs %}
          <span class='box'><a href="{{ url_for('subfield_search', subfield=subfield.lower().replace(' ', '_')) }}">{{ subfield }}</a></span>
          {% endfor %}
          {% else %}
          {% for field in fields %}
          <span class='box'><a href="{{ url_for('subfields', field=field.name.lower().replace(' ', '_')) }}">{{ field.name }}</a></span>
          {% endfor %}
          {% endif %}
        </section>
      </div>
{% endblock content %}
