{% extends '_base.html' %}

{% block logo %}
        <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt='AcaDome logo' id='logo'>
{% endblock logo %}

{% block content %}
      <section id='sub-header'>
        <h2>{{ author_.name }}</h2>
        <span>{{ author_.email }}</span><br>
        <span>{{ author_.affil }}</span>
      </section>

      <section id='resp-3'>
        {% for article in articles.items %}
          <article>
            <div class='meta'>
              <div>
                {% for author in article.authors %}
                  {% if author == article.authors[-1] %}
                    {% if author == author_.name %}
                      <span>{{ author }}</span>
                    {% else %}
                      <span><a href="{{ url_for('profile', author=author.lower().replace(' ', '_')) }}" class='anchor-3'>{{ author }}</a></span>
                    {% endif %}
                  {% else %}
                    {% if author == author_.name %}
                      <span>{{ author }}, </span>
                    {% else %}
                      <span><a href="{{ url_for('profile', author=author.lower().replace(' ', '_')) }}" class='anchor-3'>{{ author }}</a>, </span>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              </div>
              <span>{{ article.year }}</span>
            </div>
            <h3><a href="{{ url_for('static', filename='pdfs/articles/'+article.title.lower()+'.pdf') }}" class='anchor-3' target='_blank'>{{ article.title }}</a></h3>
            <div class='expand'>
              <p>Abstract: {{ article.abstract }}</p>
              <span>DOI: <a href=''></a></span>
            </div>
          </article>
        {% endfor %}
      </section>

      <div id='grid-2'>
        <section>
          {% for article in column1 %}
            <article>
              <div class='meta'>
                <div>
                  {% for author in article.authors %}
                    {% if author == article.authors[-1] %}
                      {% if author == author_.name %}
                        <span>{{ author }}</span>
                      {% else %}
                        <span><a href="{{ url_for('profile', author=author.lower().replace(' ', '_')) }}" class='anchor-3'>{{ author }}</a></span>
                      {% endif %}
                    {% else %}
                      {% if author == author_.name %}
                        <span>{{ author }}, </span>
                      {% else %}
                        <span><a href="{{ url_for('profile', author=author.lower().replace(' ', '_')) }}" class='anchor-3'>{{ author }}</a>, </span>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                </div>
                <span>{{ article.year }}</span>
              </div>
              <h3><a href="{{ url_for('static', filename='pdfs/articles/'+article.title.lower()+'.pdf') }}" class='anchor-3' target='_blank'>{{ article.title }}</a></h3>
              <div class='expand'>
                <p>Abstract: {{ article.abstract }}</p>
                <span>DOI: <a href=''></a></span>
              </div>
            </article>
          {% endfor %}
        </section>

        <section>
          {% for article in column2 %}
            <article>
              <div class='meta'>
                <div>
                  {% for author in article.authors %}
                    {% if author == article.authors[-1] %}
                      {% if author == author_.name %}
                        <span>{{ author }}</span>
                      {% else %}
                        <span><a href="{{ url_for('profile', author=author.lower().replace(' ', '_')) }}" class='anchor-3'>{{ author }}</a></span>
                      {% endif %}
                    {% else %}
                      {% if author == author_.name %}
                        <span>{{ author }}, </span>
                      {% else %}
                        <span><a href="{{ url_for('profile', author=author.lower().replace(' ', '_')) }}" class='anchor-3'>{{ author }}</a>, </span>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                </div>
                <span>{{ article.year }}</span>
              </div>
              <h3><a href="{{ url_for('static', filename='pdfs/articles/'+article.title.lower()+'.pdf') }}" class='anchor-3' target='_blank'>{{ article.title }}</a></h3>
              <div class='expand'>
                <p>Abstract: {{ article.abstract }}</p>
                <span>DOI: <a href=''></a></span>
              </div>
            </article>
          {% endfor %}
        </section>
      </div>

      {% if articles.total > articles.per_page %}
        <ul id='pagin'>
          {% if articles.has_prev %}
            <li><a href="{{ url_for('profile', author=author_.name.lower().replace(' ', '_'), page=articles.page-1) }}">Prev</a></li>
          {% else %}
            <li></li>
          {% endif %}
          {% if articles.has_next %}
            <li><a href="{{ url_for('profile', author=author_.name.lower().replace(' ', '_'), page=articles.page+1) }}">Next</a></li>
          {% else %}
            <li></li>
          {% endif %}
        </ul>
      {% endif %}
{% endblock content %}
