{% extends '_base.html' %}
{% from '_form_field.html' import render_field %}

{% block logo %}
        <img src="{{ url_for('static', filename='images/logo_200x116.png') }}" alt='AcaDome logo' id='logo'>
{% endblock logo %}

{% block content %}
      <div id='grid-1'>
        <section class='color-box'>
          <h2>Workflow to publishing with AcaDome</h2>
          <ol class='list'>
            <li>
              Submit your manuscript via the adjacent form. (Day 0)
              <ul class='list'>
                <li>Please include all figures in the manuscript itself.</li>
                <li>The submission can take upto 20 seconds. You will receive an email of confirmation.</li>
              </ul>
            </li>
            <li>Following a preliminary check, our editor will get back to you. (Day 3)</li>
            <li>Your manuscript will pass through two peer reviews. (Day 17)</li>
            <li>The editor will format and upload your manuscript as a published research article. (Day 20)</li>
          </ol>
        </section>

        <form action='' method='POST' autocomplete='off' enctype='multipart/form-data' name='publish-form'>
          <fieldset>
            <legend>Send us your manuscript</legend>
            {{ form.csrf_token }}

            {{ render_field(form.name) }}
            {{ render_field(form.email) }}
            {{ render_field(form.affiliation) }}

            <div class='form-element field-flex'>
              <div>
                {{ form.file.label(for='file', class='btn') }}
                {{ form.file(id='file') }}
              </div>
              <input type='text' name='file-name' id='file-name' disabled>
            </div>
            <div class='field-error'>
              <span id='file-error'></span><br>
            </div>

            <div class='form-element field-flex'>
              <div>
                <input type='checkbox' name='agreement'>
                <label for='agreement' id='agreement'>
                  I accept the <a href="" class='anchor-1'>publishing agreement</a>.</label>
              </div>
              <input type='submit' value='Submit' class='btn'>
            </div><br>

            {% with message = get_flashed_messages() %}
              {% if message %}
                <span>{{ message[0] }}</span>
              {% else %}
                <img src="{{ url_for('static', filename='gifs/loader.gif') }}" width='32px' height='32px' id='loader'>
              {% endif %}
            {% endwith %}
          </fieldset>
        </form>
      </div>
{% endblock content %}
