{% extends '_base.html' %}

{% block logo %}
        <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt='AcaDome logo' id='logo'>
{% endblock logo %}

{% block content %}
      <form action='' method='GET' autocomplete='off' name='search-form'>
        <input type='search' name='search' id='search' value='{{ query }}'>
        <input type='submit' value='Search' class='btn'>
      </form>

      <section id='search-results'>
        {% for article in articles.items %}
        <article>
          <div class='article-main'>
            <div>
              {% for author in article.authors %}
                {% if author == article.authors[-1] %}
                  <span><a href="{{ url_for('profile', author=author.lower().replace(' ', '_')) }}">{{ author }}</a></span>
                {% else %}
                  <span><a href="{{ url_for('profile', author=author.lower().replace(' ', '_')) }}">{{ author }}</a>, </span>
                {% endif %}
              {% endfor %}
            </div>
            <span>{{ article.year }}</span>
          </div>
          <h3><a href="{{ url_for('static', filename='repos/'+article.title.lower()+'.pdf') }}" target='_blank'>{{ article.title }}</a></h3>
          <div class='article-extra'>
            <p>Abstract: {{ article.abstract }}</p>
            <span>DOI: <a href=''></a></span>
          </div>
        </article>
        {% endfor %}
      </section>

      {% if articles.total > articles.per_page %}
        <ul class='pagin' id='articles-pagin'>
          {% if articles.has_prev %}
            <li><a href="{{ url_for('home', search=query, page=articles.page-1) }}">Prev</a></li>
          {% else %}
            <li></li>
          {% endif %}
          {% if articles.has_next %}
            <li><a href="{{ url_for('home', search=query, page=articles.page+1) }}">Next</a></li>
          {% else %}
            <li></li>
          {% endif %}
        </ul>
      {% endif %}
{% endblock content %}
