{% extends '_base.html' %}
{% from '_articles.html' import render_articles %}

{% block logo %}
        <img src="{{ url_for('static', filename='images/logo_200x116.png') }}" alt='AcaDome logo' id='logo'>
{% endblock logo %}

{% block content %}
      <section>
        <form action='' method='GET' autocomplete='off' name='search-form' id='search-form'>
          <input type='search' name='search' id='search' value='{{ query }}'>
          <button type='submit' class='btn'>
            <img src="{{ url_for('static', filename='images/search.png') }}" id='search-icon'>
          </button>
        </form>
      </section>

      <section id='resp-3'>
        {{ render_articles(articles.items) }}
      </section>

      <section id='grid-2'>
        <div>
          {{ render_articles(column1) }}
        </div>

        <div>
          {{ render_articles(column2) }}
        </div>
      </section>

      {% if not articles.total %}
        <section id='no-results'>
          <span>There are no results for your search query.</span>
        </section>
      {% endif %}

      {% if articles.total > articles.per_page %}
        <section>
          <ul id='pagin'>
            {% if articles.has_prev %}
              <li><a href="{{ url_for('home', search=query, page=articles.page-1) }}" class='anchor-3'>Previous</a></li>
            {% else %}
              <li></li>
            {% endif %}
            {% if articles.has_next %}
              <li><a href="{{ url_for('home', search=query, page=articles.page+1) }}" class='anchor-3'>Next</a></li>
            {% else %}
              <li></li>
            {% endif %}
          </ul>
        </section>
      {% endif %}
{% endblock content %}
