{% extends '_base.html' %}

{% block meta %}
<link rel='stylesheet' href="{{ url_for('forms.static', filename='style.css') }}" type='text/css'>
<link rel='stylesheet' href="{{ url_for('articles.static', filename='style.css') }}" type='text/css'>
<script defer src="{{ url_for('forms.static', filename='router.js') }}" type='text/javascript'></script>
{% endblock meta %}

{% block content %}
<main class='search-results hidden'>
  <form action="{{ url_for('admin.home') }}" method='GET' id='field-form'>
    <select name='field'>
      <option value='article'>All fields</option>
      {% for field in fields %}
      <option value="{{ field['name'] }}">{{ field['name'] }}</option>
      {% endfor %}
    </select>
  </form>

  <section class='search-grid'>
    {% for article in articles %}
    <div class="article {{ article['field'] }}">
      <p>
        {% if article['preprint'] %}
        <span class='small'>{{ article['accepted'].strftime('%d %b %Y') }} | </span>
        {% else %}
        <span class='small'>{{ article['submitted'].strftime('%d %b %Y') }} | </span>
        {% endif %}
        <span class='small'>{{ ', '.join(article['authors']) }}</span><br>
        <a href="{{ url_for('admin.article', id=article['id']) }}" class='blue'>{{ article['title'] }}</a>
      </p>
    </div>
    {% endfor %}
  </section>

  <section class='no-results hidden'>
    <span>There are no articles in the queue.</span>
  </section>
</main>
{% endblock content %}
